* {
    margin: 0;
    padding: 0;
}

body {
    background: url('../images/home-background.jpg') repeat;
}

input:focus {
    outline-width: 0;
}

.clear {
    content: "";
    height: 0;
    clear: both;
}

#main-container {
    width: 300px;
    margin: 110px auto;
}

#main-title {
    padding-bottom: 10px;
    text-align: center;
    font-size: 28px;
    font-family: Arial, sans-serif;
    color: #fff;
}

#box {
    width: 300px;
    background-color: #fff;
    margin: 0 auto;
    padding: 10px;
    color: #777;
}

#gender {
    padding: 6px 12px;
    border: 1px solid #efefef;
    background-color: #f7f7f7;
}

.input {
    width: 274px;
    padding: 6px 12px;
    border: 1px solid #efefef;
    background-color: #f7f7f7;
    margin-bottom: 5px;
    color: #333;
}

.input:focus {
    border: 1px solid #afafaf;
}

.input-button {
    border: 0;
    background-color: #25ad9f;
    color: #fff;
    padding: 6px 12px;
    border-radius: 2px;
    font-size: 14px;
    float: left;
    margin-top: 10px;
}

.input-button:hover {
    background-color: #1f8478;
}

.form-menu {
    float: right;
    margin-top: 20px;
}

.form-menu a {
    color: #25ad9f;
    text-decoration: none;
}

.form-menu a:hover {
    text-decoration: underline;
}

#main-navigation {
    text-align: center;
    color: #fff;
}

.main-button {
    text-decoration: none;
    border: 1px solid #0c6658;
    background-color: #109684;
    color: #fff;
    padding: 6px 12px;
    border-radius: 2px;
    font-size: 18px;
    margin-top: 10px;
}

.main-button:hover {
    background-color: #15c1a7;
}