* {
    margin: 0;
    padding: 0;
    outline-width: 0;
}

body {
    background-color: #f6f6f6;
    font-family: "Calibri", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

input[type=submit] {
    cursor: pointer;
}
input:focus {
    outline-width: 0;
}

.clear {
    content: "";
    height: 0;
    clear: both;
}

hr {
    border: 0;
    border-bottom: 1px solid #dbdbdb;
}

#header {
    background-color: #303030;
    padding: 10px 0;
    margin-bottom: 20px;
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
}

#avatar {
    margin-right: 10px;
}

#avatar img {
    border-radius: 50%;
}

#menu {
    display: inline-block;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    float: left;
    margin-right: 20px;
}

#menu ul li a {
    color: #676767;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    line-height: 50px;
}

#menu ul li a:hover {
    color: #fff;
}

#menu ul li a span {
    color: #969696;
}

#search {
    float: right;
    line-height: 50px;
}


.search-input {
    width: 200px;
    padding: 8px 10px;
    border: 1px solid #efefef;
    background-color: #f7f7f7;
    margin-bottom: 5px;
    color: #333;
}

.search-input:focus {
    border: 1px solid #afafaf;
}

.search-button {
    border: 0;
    background-color: #25ad9f;
    color: #fff;
    padding: 9px 12px;
    font-size: 13px;
    float: right;
    margin-top: 9px;
}

.search-button:hover {
    background-color: #1f8478;
}

#news-feed {
    float: left;
    width: 800px;
}

.feed {
    width: 380px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #fff;

}

.feed-header {
    background-color: #25ad9f;
}

.feed-header-left {
    float: left;
}

.feed-header-right {
    padding-top: 5px;
    margin-left: 60px;
    color: #fff;
    font-size: 20px;
    padding-bottom: 7px;
}

.feed-date {
    font-size: 12px;
    margin-top: -2px;
    color: #91d6c9;
}

.feed-content {
    border: 1px solid #e6e6e6;
    border-top: 0;
}

.feed-content p{
    font-size: 15px;
    color: #555;
    float: left;
    padding: 7px 12px;
}

.view-all-comments {
    padding: 3px 5px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.view-all-comments a {
    color: #424242;
    font-size: 12px;
    text-decoration: none;
}

.view-all-comments a span {
    color: #ccc;
}

.view-all-comments a:hover {
    color: #428bca;
}

.comment {
    border-bottom: 1px solid #e6e6e6;
}

.comment-pic {
    float: left;
    padding: 5px;
}

.comment-right {
    margin-left: 40px;
    padding: 5px;
}

.comment-name a{
    color: #25ad9f;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.comment-name a:hover {
    text-decoration: underline;
}

.comment-date {
    font-size: 12px;
    color: #888;
}

.comment-content {
    font-size: 14px;
    color: #333;
}

.post-reply {
    padding: 5px;
}

.reply-input {
    background-color: #f7f7f7;
    border: 0;
    border-bottom: 2px solid #efefef;
    padding: 6px 12px;
    font-size: 14px;
    width: 80%;
    box-sizing: border-box;
    color: #25ad9f;
}

.reply-button {
    background-color: #25ad9f;
    border: 0;
    padding: 6px 10px;
    border-bottom: 2px solid #1f9d8e;
    color: #fff;
    width: 17%;
    box-sizing: border-box;
}

.reply-button:hover {
    background-color: #1f9d8e;
    border-bottom: 2px solid #229688;
}

.post-options {
    float: right;
    margin-right: 5px;
    font-size: 14px;
}

.post-options .dot {
    color: #ccc;
    padding: 0 3px;
}

.likesCount, .commentsCount {
    color: #938f8f;
}

.post-options a {
    color: #666;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.post-options a:hover {
    color: #428bca;
}

#friends {
    float: right;
    width: 300px;
}

#friends-header {
    background-color: #25ad9f;
    font-size: 18px;
    color: #fff;
    padding: 14px;
}

#friends-header a {
    text-decoration: underline;
    color: #fff;
}

#friends-header a:hover {
    text-decoration: none;
}

#friends-list-small {
    border: 1px solid #d8d6d6;
    padding: 10px;
}

.friend-review {
    display: inline-block;
    width: 83px;
    height: 83px;
}

.friend-review img {
    width: 83px;
}

#page-title {
    font-size: 25px;
    margin-bottom: 10px;
}

#friends-search {
    float: left;
    margin-bottom: 10px;
}

#friends-static {
    font-size: 15px;
    color: #ccc;
    margin-top: 5px;
    float: right;
    text-transform: uppercase;
}

#friend-search {
    width: 200px;
    padding: 8px 10px;
    border: 1px solid #efefef;
    background-color: #fff;
    color: #333;
}

.search-input:focus {
    border: 1px solid #afafaf;
}

#friend-list {
    margin-top: 10px;
}

#friend-list a .friend .friend-name {
    color: #999;
    font-weight: bold;
}

.friend {
    background-color: #fff;
    width: 96px;
    padding: 20px 15px;
    text-align: center;
    word-wrap: break-word;
    float: left;
    margin: 10px 10px 10px 0;
}

.friend:hover {
    background-color: #ededed;
}

.friend img {
    border-radius: 50%;
    height: 50px;
}

#cover {
    margin-bottom: 80px;
    float: left;
}

#new-post {
    float: right;
    width: 300px;
}

#new-post-header {
    background-color: #f1f1f1;
    border-bottom: 1px solid #efefef;
    color: #707070;
    font-size: 20px;
    padding: 10px;
}

#new-post-textarea {
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    padding: 5px;
    resize: none;
}

.post-button {
    border: 0;
    background-color: #25ad9f;
    color: #fff;
    padding: 7px 11px;
    font-size: 13px;
}

.post-button:hover {
    background-color: #1f8478;
}

#new-post-form {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 10px;
}

#cover-image {
    position: absolute;
}

#cover-avatar {
    width: 500px;
    position: relative;
    top: 50px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    vertical-align: middle;
    left: 50px;
}

#cover-avatar img {
    border: 4px solid #fff;
}

#change-password {
    margin: 20px auto;
    width: 300px;
}

.input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 10px;
    border: 0;
    border-bottom: 2px solid #efefef;
    background-color: #fff;
    margin-bottom: 5px;
    color: #333;
}

.input:focus {
    border-bottom: 2px solid #e3e3e3;
}

.input-button {
    border: 0;
    background-color: #25ad9f;
    color: #fff;
    padding: 6px 12px;
    border-radius: 2px;
    font-size: 14px;
    float: left;
    margin-top: 10px;
}

.input-button:hover {
    background-color: #1f8478;
}