* {
    margin: 0;
    padding: 0;
    outline-width: 0;
    word-wrap: break-word;
}

body {
    font-family: "Calibri", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

input:focus {
    outline-width: 0;
}

input[type=submit] {
    cursor: pointer;
}
input:focus {
    outline-width: 0;
}

hr {
    border: 0;
    border-bottom: 1px solid #dbdbdb;
}

.clear {
    content: "";
    height: 0;
    clear: both;
}

#main-container {
    width: 300px;
    margin: 110px auto;
}

#main-title {
    padding-bottom: 10px;
    text-align: center;
    font-size: 70px;
    font-family: Georgia, sans-serif;
    color: #fff;
}

#box {
    width: 300px;
    background-color: #fff;
    margin: 0 auto;
    padding: 10px;
    color: #777;
}

#gender {
    padding: 8px 10px;
    border-bottom: 2px solid #efefef;
    background-color: #f7f7f7;
    width: 100%;
    box-sizing: border-box;
}

.input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 10px;
    border: 0;
    border-bottom: 2px solid #efefef;
    background-color: #f7f7f7;
    margin-bottom: 5px;
    color: #333;
}

.input:focus {
    border-bottom: 2px solid #e3e3e3;
}

.input-button {
    border: 0;
    background-color: #25ad9f;
    color: #fff;
    padding: 6px 12px;
    border-radius: 2px;
    font-size: 14px;
    float: left;
    margin-top: 10px;
}

.input-button:hover {
    background-color: #1f8478;
}

.input-button:disabled {
    background-color: #ccc;
}

.input-button:disabled:hover {
    background-color: #ccc;
}

.form-menu {
    float: right;
    margin-top: 20px;
}

.form-menu a {
    color: #25ad9f;
    text-decoration: none;
}

.form-menu a:hover {
    text-decoration: underline;
}

#main-navigation {
    text-align: center;
    color: #fff;
    margin-top: 15px;
}

#main-navigation span {
    margin: 0 10px;
    color: #0c6658;
    font-style: italic;
}

.main-button {
    text-decoration: none;
    border-bottom: 2px solid #0c6658;
    background-color: #109684;
    color: #fff;
    padding: 12px 25px;
    border-radius: 2px;
    font-size: 20px;
}

.main-button:hover {
    background-color: #119d8a;
}

#header {
    background-color: #303030;
    padding: 10px 0;
    margin-bottom: 20px;
}

.wrapper {
    width: 950px;
    margin: 0 auto;
}

#avatar {
    display: inline-block;
    float: left;
    margin-right: 10px;
}

#avatar img {
    border-radius: 50%;
}

#avatar-username {
    float: left;
    margin-top: 15px;
    padding-right: 17px;
}

#avatar-username a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}

#avatar-username a:hover {
    text-decoration: underline;
}

#menu {
    display: inline-block;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    float: left;
    margin-right: 20px;
}

#menu ul li a {
    color: #676767;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    line-height: 50px;
}

#menu ul li a:hover {
    color: #fff;
}

#menu ul li a span {
    color: #969696;
}

#search {
    float: right;
    line-height: 50px;
}


.search-input {
    width: 200px;
    padding: 8px 10px;
    border: 1px solid #efefef;
    background-color: #f7f7f7;
    margin-bottom: 5px;
    color: #333;
}

.search-input:focus {
    border: 1px solid #afafaf;
}

.search-button {
    border: 0;
    background-color: #25ad9f;
    color: #fff;
    padding: 9px 12px;
    font-size: 13px;
    float: right;
    margin-top: 9px;
}

.search-button:hover {
    background-color: #1f8478;
}

#news-feed {
    float: left;
    width: 600px;
}

.feed {
    width: 625px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

.feed-header {
    background-color: #25ad9f;
}

.feed-header-left {
    float: left;
}

.feed-header-right {
    padding-top: 5px;
    margin-left: 60px;
    color: #fff;
    font-size: 20px;
    padding-bottom: 7px;
}

.feed-header-right a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.feed-header-right a:hover {
    opacity: 0.9;
}

.feed-date {
    font-size: 12px;
    margin-top: -2px;
    color: #91d6c9;
}

.feed-content {
    border: 1px solid #e6e6e6;
    border-top: 0;
}

.feed-content p{
    font-size: 15px;
    color: #555;
    float: left;
    padding: 7px 12px;
    width: 100%;
}

.view-all-comments {
    padding: 3px 5px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.view-all-comments a {
    color: #424242;
    font-size: 12px;
    text-decoration: none;
}

.view-all-comments a span {
    color: #ccc;
}

.view-all-comments a:hover {
    color: #428bca;
}

.comment {
    border-bottom: 1px solid #e6e6e6;
}

.comment-pic {
    float: left;
    padding: 5px;
}

.comment-right {
    margin-left: 40px;
    padding: 5px;
}

.comment-name a{
    color: #25ad9f;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.comment-name a:hover {
    text-decoration: underline;
}

.comment-date {
    font-size: 12px;
    color: #888;
}

.comment-content {
    font-size: 14px;
    color: #333;
}

.post-reply {
    padding: 5px;
}

.reply-input {
    background-color: #f7f7f7;
    border: 0;
    border-bottom: 2px solid #efefef;
    padding: 6px 12px;
    font-size: 14px;
    width: 80%;
    box-sizing: border-box;
    color: #25ad9f;
}

.reply-button {
    background-color: #25ad9f;
    border: 0;
    padding: 6px 10px;
    border-bottom: 2px solid #1f9d8e;
    color: #fff;
    width: 17%;
    box-sizing: border-box;
}

.reply-button:hover {
    background-color: #1f9d8e;
    border-bottom: 2px solid #229688;
}

.post-options {
    float: right;
    margin-right: 5px;
    font-size: 14px;
}

.post-options .dot {
    color: #ccc;
    padding: 0 3px;
}

.likesCount, .commentsCount {
    color: #938f8f;
}

.post-options a {
    color: #666;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.post-options a:hover {
    color: #428bca;
}

#friends {
    float: right;
    width: 300px;
}

#friends-header {
    background-color: #25ad9f;
    font-size: 18px;
    color: #fff;
    padding: 14px;
    text-transform: uppercase;
}

#friends-header a {
    text-decoration: none;
    color: #b5d2cf;
    font-weight: bold;
    font-size: 16px;
}

#friends-header a:hover {
    color: #fff;
}

#friends-header span {
    float: right;
}

#friends-list-small {
    border: 1px solid #d8d6d6;
    padding: 10px;
}

.friend-review {
    display: block;
    width: 203px;
    height: 83px;
    margin-bottom: 25px;
}

.friend-review a  {
    text-decoration: none;
    font-weight: bold;
    color: #ccc;
}

.friend-review a:hover {
    color:  #25ad9f;
}

.friend-review img {
    width: 83px;
}

#page-title {
    font-size: 25px;
    margin-bottom: 10px;
}

#friends-search {
    float: left;
    margin-bottom: 10px;
}

#friends-static {
    font-size: 15px;
    color: #ccc;
    margin-top: 5px;
    float: right;
    text-transform: uppercase;
}

#friend-search {
    width: 200px;
    padding: 8px 10px;
    border: 1px solid #efefef;
    background-color: #fff;
    color: #333;
}

.search-input:focus {
    border: 1px solid #afafaf;
}

#friend-list {
    margin-top: 10px;
}

#friend-list a .friend .friend-name {
    color: #999;
    font-weight: bold;
}

.friend {
    background-color: #fff;
    width: 250px;
    padding: 20px 15px;
    text-align: center;
    word-wrap: break-word;
    float: left;
    margin: 10px 10px 10px 0;
}

.friend:hover {
    background-color: #ededed;
}

.friend img {
    border-radius: 50%;
    height: 50px;
}

#cover {
    margin-bottom: 80px;
    float: left;
}

#new-post {
    float: right;
    width: 300px;
}

#new-post-header {
    background-color: #f1f1f1;
    border-bottom: 1px solid #efefef;
    color: #707070;
    font-size: 20px;
    padding: 10px;
}

#new-post-textarea {
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    padding: 5px;
    resize: none;
}

.post-button {
    border: 0;
    background-color: #25ad9f;
    color: #fff;
    padding: 7px 11px;
    font-size: 13px;
}

.post-button:hover {
    background-color: #1f8478;
}

#new-post-form {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 10px;
}

#cover-image {
    position: absolute;
}

#cover-avatar {
    width: 600px;
    position: relative;
    top: 50px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    vertical-align: middle;
    left: 12px;
}

#cover-avatar span {
    position: relative;
    top: -1px;
    text-shadow: 0 0 2px rgba(255, 255, 255, .9), 0 0 2px rgba(255, 255, 255, .9), 0 0 2px rgba(255, 255, 255, .9);
    color: #111;
    left: 10px;
}

#cover-avatar span a {
    background-color: #333;
    outline: 2px solid rgba(0, 0, 0, 0.2);
    font-weight: bold !important;
    text-shadow: none !important;
    color: #fff;
    float: right;
    display: inline-block;
    vertical-align: bottom;
    margin-top: 50px;
    padding: 10px 15px;
    text-transform: uppercase;
}

#cover-avatar span a:hover {
    background-color: #444;
}

#cover-avatar img {
    border: 4px solid #fff;
}

#change-password {
    margin: 20px auto;
    width: 300px;
}

.input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 10px;
    border: 0;
    border-bottom: 2px solid #efefef;
    background-color: #fff;
    margin-bottom: 5px;
    color: #333;
}

.input:focus {
    border-bottom: 2px solid #e3e3e3;
}

.input-button {
    border: 0;
    background-color: #25ad9f;
    color: #fff;
    padding: 6px 12px;
    border-radius: 2px;
    font-size: 14px;
    float: left;
    margin-top: 10px;
}

.input-button:hover {
    background-color: #1f8478;
}

#edit-profile {
    background: #fff;
    width: 700px;
    margin: 20px auto;
}

#edit-profile-left {
    float: left;
    padding: 20px;
    text-align: center;
}

#avatar-specifications {
    font-size: 13px;
    color: #b7b7b7;
}

#edit-profile-left button {
    margin-left: 35px;
}

#edit-profile-right {
    float: right;
    padding: 20px;
    width: 460px;
}

#gender {
    padding: 8px 10px;
    border-bottom: 2px solid #efefef;
    width: 100%;
    box-sizing: border-box;
}

#change-cover {
    margin-top: 20px;
}

#change-cover-left {
    float: left;
}

#change-cover-right {
    float: right;
}

#cover-specifications {
    width: 90px;
    font-size: 13px;
    color: #b7b7b7;
    margin-left: 7px;
}

#save-changes-button {
    float: right;
}

#friendRequestPopup {
    background-color: #fff;
    width: 300px;
    padding: 10px 0;
    position: absolute;
    border: 1px solid #ccc;
    z-index: 9999;
}

.friendRequestContent {
    padding: 10px;
}

.requesterPic {
    float: left;
    width: 38px;
    height: 38px;
}

.requesterName {
    margin-top: -5px;
    padding-left: 10px;
    float: left;
}

.requesterName a {
    font-size: 15px !important;
    font-weight: bold;
    color: #000 !important;
}

.requesterName a:hover {
    color: #000 !important;
    text-decoration: underline !important;
}

.options {
    float: right;
    margin-top: 10px;
    height: 35px;
}

.options a {
    font-size: 13px !important;
    padding: 0 5px;
}

.options a:hover {
    color: #676767 !important;
    text-decoration: underline !important;
}

.friendRequestHover:hover {
    background: #f7f7f7;
}

#mouseOver {
    padding: 18px 0;
}

#searchResults {
    position: absolute;
    width: 287px;
    background: #fff;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.result a {
    color: #999;
    font-weight: bold;
    text-decoration: none;
}

.result a:hover {
    color: #119d8a;
}

.result {
    padding-left: 10px;
    padding-top: 8px !important;
    line-height: 30px !important;
    border-bottom: 1px solid #eee;
}

.result a span{
    vertical-align: 10px;
    padding-left: 10px;
}

.result:hover {
    background-color: #f7f7f7;
}

#status {
    float: right;
}

#cover-avatar span a {
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}

.editPost {
    padding: 10px;
}

.editPost textarea {
    resize: none;
}

.editPost button {
    position: relative;
    top: -11px;
}

#test {
    margin: 0 auto;
    width: 630px;
}

#friendsLabel{
    cursor: default;
}

#friendsLabel:hover {
    background: #333 !important;
}

.editComment {
    float: right;
    padding: 5px;
    font-size: 14px;
}

.editComment a {
    text-decoration:  none;
    color: #999;
}

.editComment a:hover {
    color: #428bca;
}

.edit-button {
    position: relative;
    top: -12px;
}

.userInfoPopup {
    background: #fff;
    border: 1px solid #25ad9f;
    padding: 10px;
    width: 400px;
    position: absolute;
}

.userInfoPopup a {
    text-decoration: none;
    color: #000;
}

.userInfoPopup a:hover {
    color: #999;
}

.popupFriendStatus {
    float: right;
}

.likeComment {
    float: right;
}

.there-is-more {
    text-align: center;
    position: fixed;
    bottom: 0;
    width:100%;
    background:rgb(200,200,200);
    background:rgba(200,200,200,0.8);
    color: green;
    font-weight: bold;
    padding: 5px;

}
