<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Social Network Home</title>
    <link rel="stylesheet" type="text/css" href="../css/guest-style.css" />
</head>
<body>
    <div id="main-container">
        <div id="main-title">Login</div>
        <div id="box">
            <form>
                <input type="text" placeholder="Username" class="input" /><br />
                <input type="password" placeholder="Password" class="input" /><br />
                <input type="button" class="input-button" value="Login" />
                <div class="form-menu"><a href="register.html" >Register</a></div>
                <div class="clear"></div>
            </form>
        </div>
    </div>
</body>
</html>