<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Social Network Home</title>
    <link rel="stylesheet" type="text/css" href="../css/guest-style.css" />
</head>
<body>
<div id="main-container">
    <div id="main-title" class="center">Register</div>
    <div id="box">
        <form>
            <input type="text" placeholder="Username" class="input" /><br />
            <input type="password" placeholder="Password" class="input" /><br />
            <input type="password" placeholder="Confirm password" class="input" /><br />
            <input type="password" placeholder="Name" class="input" /><br />
            <input type="password" placeholder="Email" class="input" /><br />
            <div id="gender">
                <p>Gender:</p>
                <input type="radio" name="gender" /> Male
                <input type="radio" name="gender" /> Female
                <input type="radio" name="gender" /> Other
            </div>
            <div class="clear"></div>
            <input type="button" class="input-button" value="Register" />
            <div class="form-menu"><a href="login.html">Login</a></div>
            <div class="clear"></div>
        </form>
    </div>
</div>
</body>
</html>