<header ng-include="'templates/partial/header.html'"></header>

<div class="wrapper">
    <div id="page-title">Change Password</div>
    <hr />

    <div id="change-password">
        <form name="form">
            <input type="password" placeholder="Old Password" name="oldPassword" ng-model="userData.oldPassword" class="input" password /><br />
            <span ng-show="form.oldPassword.$error.password && form.oldPassword.$dirty">
                Minimum password length: 6<br />
            </span>
            <input type="password" placeholder="New Password" name="password" ng-model="userData.newPassword" class="input" password /><br />
            <span ng-show="form.password.$error.password && form.password.$dirty">
                Minimum password length: 6<br />
            </span>
            <input type="password" placeholder="Confirm Password" name="confirmNewPassword" ng-model="userData.confirmNewPassword" class="input" confirmnewpassword/><br />
            <span ng-show="form.confirmNewPassword.$error.confirmnewpassword && form.confirmNewPassword.$dirty">
                Passwords did not match<br />
            </span>
            <input type="button" class="input-button" ng-click="changePasswordButtonClicked()" value="Save Changes" />
        </form>
    </div>
</div>