<div class="wrapper">
    <div id="page-title">News Feed</div>
    <div id="news-feed">
        <div class="feed">
            <div class="feed-header">
                <div class="feed-header-left">
                    <div class="feed-pic">
                        <img src="images/avatar.jpg" height="48px" />
                    </div>
                </div>
                <div class="feed-header-right">
                    <div class="feed-name">Ivan</div>
                    <div class="feed-date">20-2-2015</div>
                </div>
            </div>
            <div class="feed-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum
                </p>
                <div class="clear"></div>

                <div class="clear"></div>
                <div class="view-all-comments">
                    <a href="#">View all <span>10 comments</span></a>
                        <span class="post-options">
                            <span class="likesCount">3</span> <a href="#">Like</a> <span class="dot">•</span>
                            <span class="commentsCount">300</span> <a href="#">Comment</a>
                        </span>
                </div>
                <div class="comments">
                    <div class="comment">
                        <div class="comment-pic">
                            <img src="images/user.jpg" height="35px" />
                        </div>
                        <div class="comment-right">
                            <div class="comment-header">
                                <span class="comment-name"><a href="#">Stoyan</a></span>
                                <span class="comment-date">2.20.2015</span>
                                <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum</div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="post-reply">
                    <form>
                        <input type="text" class="reply-input" placeholder="Comment" />
                        <input type="submit" value="Reply" class="reply-button" />
                    </form>
                </div>
            </div>
        </div>
        <div class="feed">
            <div class="feed-header">
                <div class="feed-header-left">
                    <div class="feed-pic">
                        <img src="images/avatar.jpg" height="48px" />
                    </div>
                </div>
                <div class="feed-header-right">
                    <div class="feed-name">Ivan</div>
                    <div class="feed-date">20-2-2015</div>
                </div>
            </div>
            <div class="feed-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum
                </p>
                <div class="clear"></div>

                <div class="clear"></div>
                <div class="view-all-comments">
                    <a href="#">View all <span>10 comments</span></a>
                        <span class="post-options">
                            <span class="likesCount">3</span> <a href="#">Like</a> <span class="dot">•</span>
                            <span class="commentsCount">300</span> <a href="#">Comment</a>
                        </span>
                </div>
                <div class="comments">
                    <div class="comment">
                        <div class="comment-pic">
                            <img src="images/user.jpg" height="35px" />
                        </div>
                        <div class="comment-right">
                            <div class="comment-header">
                                <span class="comment-name"><a href="#">Stoyan</a></span>
                                <span class="comment-date">2.20.2015</span>
                                <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum</div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="post-reply">
                    <form>
                        <input type="text" class="reply-input" placeholder="Comment" />
                        <input type="submit" value="Reply" class="reply-button" />
                    </form>
                </div>
            </div>
        </div>
        <div class="feed">
            <div class="feed-header">
                <div class="feed-header-left">
                    <div class="feed-pic">
                        <img src="images/avatar.jpg" height="48px" />
                    </div>
                </div>
                <div class="feed-header-right">
                    <div class="feed-name">Ivan</div>
                    <div class="feed-date">20-2-2015</div>
                </div>
            </div>
            <div class="feed-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum
                </p>
                <div class="clear"></div>

                <div class="clear"></div>
                <div class="view-all-comments">
                    <a href="#">View all <span>10 comments</span></a>
                        <span class="post-options">
                            <span class="likesCount">3</span> <a href="#">Like</a> <span class="dot">•</span>
                            <span class="commentsCount">300</span> <a href="#">Comment</a>
                        </span>
                </div>
                <div class="comments">
                    <div class="comment">
                        <div class="comment-pic">
                            <img src="images/user.jpg" height="35px" />
                        </div>
                        <div class="comment-right">
                            <div class="comment-header">
                                <span class="comment-name"><a href="#">Stoyan</a></span>
                                <span class="comment-date">2.20.2015</span>
                                <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum</div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="post-reply">
                    <form>
                        <input type="text" class="reply-input" placeholder="Comment" />
                        <input type="submit" value="Reply" class="reply-button" />
                    </form>
                </div>
            </div>
        </div>
        <div class="feed">
            <div class="feed-header">
                <div class="feed-header-left">
                    <div class="feed-pic">
                        <img src="images/avatar.jpg" height="48px" />
                    </div>
                </div>
                <div class="feed-header-right">
                    <div class="feed-name">Ivan</div>
                    <div class="feed-date">20-2-2015</div>
                </div>
            </div>
            <div class="feed-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum
                </p>
                <div class="clear"></div>

                <div class="clear"></div>
                <div class="view-all-comments">
                    <a href="#">View all <span>10 comments</span></a>
                        <span class="post-options">
                            <span class="likesCount">3</span> <a href="#">Like</a> <span class="dot">•</span>
                            <span class="commentsCount">300</span> <a href="#">Comment</a>
                        </span>
                </div>
                <div class="comments">
                    <div class="comment">
                        <div class="comment-pic">
                            <img src="images/user.jpg" height="35px" />
                        </div>
                        <div class="comment-right">
                            <div class="comment-header">
                                <span class="comment-name"><a href="#">Stoyan</a></span>
                                <span class="comment-date">2.20.2015</span>
                                <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum</div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="post-reply">
                    <form>
                        <input type="text" class="reply-input" placeholder="Comment" />
                        <input type="submit" value="Reply" class="reply-button" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="friends">
        <div id="friends-header">
            Friends - <a href="#">5</a> total
        </div>
        <div id="friends-list-small">
            <div class="friend-review">
                <img src="images/user.jpg" />
            </div>
            <div class="friend-review">
                <img src="images/user.jpg" />
            </div>
            <div class="friend-review">
                <img src="images/user.jpg" />
            </div>
            <div class="friend-review">
                <img src="images/user.jpg" />
            </div>
            <div class="friend-review">
                <img src="images/user.jpg" />
            </div>
            <div class="friend-review">
                <img src="images/user.jpg" />
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>