<header ng-include="'templates/partial/header.html'"></header>

<div class="wrapper">
    <div id="page-title">News Feed</div>
    <div id="news-feed" scroll last-feedId="{{lastFeedId}}">
        <div class="feed" ng-repeat="feed in feeds" id="feed{{feed.id}}">
            <div class="feed-header">
                <div class="feed-header-left">
                    <div class="feed-pic">
                        <a href="#/users/{{feed.author.username}}"><img ng-src="{{feed.author.profileImageData || 'images/no-avatar.png'}}" height="48px" /></a>
                    </div>
                </div>

                <div class="feed-header-right">

                    <div class="feed-name"><a href="#/users/{{feed.author.username}}">{{feed.author.name}}</a></div>
                    <div class="feed-date">{{feed.date | date : 'd.M.yyyy H:mm:ss'}}</div>
                </div>
            </div>
            <div class="feed-content">
                <p  style="display: block;" id="post{{feed.id}}">{{feed.postContent}}</p>
                <div style="display: none;" class="editPost" id="editPost{{feed.id}}">
                    <textarea  class="reply-input" id="textarea{{feed.id}}">{{feed.postContent}}</textarea>
                    <button class="reply-button" ng-click="editPost(feed.id)">Edit</button>
                </div>
                <div class="clear"></div>
                <div class="view-all-comments">
                    <a ng-if="feed.totalCommentsCount > 3" href="javascript: void(0);" ng-click="showAllComments(feed.id)">View all <span>{{feed.totalCommentsCount}} comments</span></a>
                        <div class="post-options">
                            <span ng-if="feed.author.username == feedOwner"><a href="javascript: void(0);" ng-click="showEditField(feed.id)">Edit •</a></span>
                            <span ng-if="feed.wallOwner.username == feedOwner || feed.author.username == feedOwner"><a href="javascript: void(0);" ng-click="deletePost(feed.id)">Delete •</a></span>
                            <span class="likesCount">{{feed.likesCount}}</span>
                            <a href="javascript: void(0);" ng-if="!feed.liked" ng-click="likePost(feed.id)">Like •</a>
                            <a href="javascript: void(0);" ng-if="feed.liked" ng-click="dislikePost(feed.id)">Dislike •</a>
                            <a href="javascript: void(0);" ng-click="showCommentField(feed.id)">Comment</a>
                        </div>
                        <div class="clear"></div>
                </div>
                <div class="comments" id="comments{{feed.id}}">
                    <div class="comment" ng-repeat="comment in feed.comments" id="comment{{feed.id}}{{comment.id}}">
                        <div style="display: none;" ng-if="feedOwner != comment.author.username" ng-mouseover="showCommentUserInfo(feed.id, comment.id, comment.author.username)"
                             ng-mouseleave="hideCommentUserInfo(feed.id, comment.id)" class="userInfoPopup" id="popupComment{{feed.id}}{{comment.id}}">
                            <a href="#/users/{{feed.author.username}}">
                                <img ng-src="{{comment.author.profileImageData || 'images/no-avatar.png'}}" width="35" height="35" />
                                {{comment.author.name}}
                            </a>
                            <div class="popupFriendStatus" id="popupFriendStatus{{feed.id}}{{comment.id}}"></div>
                        </div>
                        <div class="comment-pic" ng-mouseover="showCommentUserInfo(feed.id, comment.id, comment.author.username)"
                             ng-mouseleave="hideCommentUserInfo(feed.id, comment.id)">
                            <a href="#/users/{{comment.author.username}}"><img ng-src="{{comment.author.profileImageData || 'images/no-avatar.png'}}" height="35px" /></a>
                        </div>
                        <div class="comment-right">
                            <div class="comment-header">
                                <span class="comment-name"><a href="#/users/{{comment.author.username}}">{{comment.author.name}}</a></span>
                                <span class="comment-date">{{comment.date | date : 'd.M.yyyy H:mm:ss'}}</span>
                                <div class="comment-content" style="display: block;" id="commentContent{{comment.id}}">{{comment.commentContent}}</div>
                                <div style="display: none;" id="editComment{{comment.id}}" class="edit-comment">
                                    <textarea class="reply-input" id="editedComment{{comment.id}}">{{comment.commentContent}}</textarea>
                                    <button class="reply-button edit-button" ng-click="editComment(comment.id, feed.id)">Edit</button>
                                </div>
                            </div>
                        </div>
                        <span class="editComment">
                            <a href="javascript:  void(0);" ng-if="feedOwner == comment.author.username || feed.author.username == feedOwner" ng-click="deleteComment(comment.id, feed.id)">Delete •</a>
                            <a href="javascript: void(0);" ng-if="feedOwner == comment.author.username" ng-click="toggleEditComment(comment.id)">Edit •</a>
                            <span ng-if="!comment.liked">{{comment.likesCount}} <a href="javascript: void(0);" ng-click="likeComment(comment.id, feed.id)">Like</a></span>
                            <span ng-if="comment.liked">{{comment.likesCount}} <a href="javascript: void(0);" ng-click="dislikeComment(comment.id, feed.id)">Dislike</a></span>
                        </span>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="post-reply" style="display: none;" id="postReply{{feed.id}}">
                    <form>
                        <input type="text" class="reply-input" id="replyInput{{feed.id}}" ng-model="comment" placeholder="Comment" />
                        <input type="submit" value="Reply" ng-click="postComment(feed.id)" class="reply-button" />
                    </form>
                </div>
            </div>
        </div>
        <div id="loader" ng-if="feedNumber >= 5"><img src="images/loader.gif" width="40" height="40" /></div>
    </div>
    <div id="friends">
        <div id="friends-header">
            Friends <span><a href="#/users/{{feedOwner}}/friends">{{friends.totalCount}}</a></span>
        </div>
        <div id="friends-list-small">
            <div class="friend-review" ng-repeat="friend in friends.friends">
                <a href="#/users/{{friend.username}}">
                    <img ng-src="{{friend.profileImageData || 'images/no-avatar.png'}}" />
                    <span>{{friend.name}}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>