<div id="header" ng-controller="HeaderController">
    <div class="wrapper">
            <div id="avatar">
                <img src="{{userData.profilePicture}}" width="50" height="50"/>
            </div>
            <div id="avatar-username"><a href="#/home">{{userData.username}}</a></div>
        <div id="menu">
            <ul>
                <li><a href="#/home">Feed</a></li>
                <li>
                    <a href="javascript: void(0);" id="mouseOver" ng-mouseover="show()" ng-mouseleave="hide()">
                        Friend Requests <span>({{userData.pendingRequestsCount}})</span>
                    </a>
                    <div style="display: none;" ng-if="userData.pendingRequestsCount != 0" id="friendRequestPopup" ng-mouseover="show()" ng-mouseleave="hide()">
                        <div class="friendRequest" ng-repeat="request in userData.pendingRequests">
                            <div class="friendRequestHover">
                                <div class="friendRequestContent">
                                    <div class="requesterPic"><a href="#/users/{{request.user.username}}"><img ng-src="{{request.user.profileImageData || 'images/no-avatar.png'}}" width="38" height="38" /></a></div>
                                    <div class="requesterName"><a href="#/users/{{request.user.username}}">{{request.user.name}}</a></div>
                                    <div class="options">
                                        <a href="javascript: void(0);" ng-click="requestApprove(request.id)">Approve</a>
                                        <a href="javascript: void(0);" ng-click="requestReject(request.id)">Reject</a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                </li>
                <li><a href="#/profile">Profile</a></li>
                <li><a href="#/profile/password">Change password</a></li>
                <li><a href="javascript: void(0);" ng-controller="AuthenticationController" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
        <div id="search">
            <form>
                <input type="text" placeholder="Search..." ng-model="searchQuery" ng-change="searchFriends()" class="search-input" />
                <input type="submit" value="Search" class="search-button" />
            </form>
            <div id="searchResults" ng-show="searchQuery.length && foundedPeope.length">
                <div class="result" ng-repeat="person in foundedPeope">
                    <a href="#/users/{{person.username}}">
                        <img ng-src="{{person.profileImageData || 'images/no-avatar.png'}}" width="30" height="30"/>
                        <span>{{person.name}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>