<div id="header" ng-controller="AuthenticationController">
    <div class="wrapper">
            <span id="avatar">
                <img src="images/avatar.jpg" />
                <span><a href="#/home">{{username}}</a></span>
            </span>
        <div id="menu">
            <ul>
                <li><a href="#">Notifications <span>(100)</span></a></li>
                <li><a href="#">Friend Requests <span>(10)</span></a></li>
                <li><a href="#/profile">Profile</a></li>
                <li><a href="#/profile/password">Change password</a></li>
                <li><a href="javascript: void(0);" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
        <div id="search">
            <form>
                <input type="text" placeholder="Search..." class="search-input" />
                <input type="submit" value="Search" class="search-button" />
            </form>
        </div>
    </div>
</div>