<header ng-include="'templates/partial/header.html'"></header>

<div class="wrapper">
    <div id="page-title">Edit Profile</div>
    <hr />
    <div id="edit-profile">
        <form name="form">
            <div id="edit-profile-left">
                <img ng-src="{{userData.profileImageData || 'images/no-avatar.png'}}"  width="150" height="150" />

                <div id="avatar-specifications">
                    Allowed format: .jpg<br />
                    Limit: 128kb
                </div>
                <button class="input-button">UPLOAD</button>
            </div>
            <div id="edit-profile-right">
                <input type="text" placeholder="Name" name="username" ng-model="userData.name" class="input" required /><br />
                <span ng-show="form.username.$error.required && form.username.$dirty">
                        Invalid username<br />
                </span>
                <input type="text" placeholder="Email" name="email" ng-model="userData.email" class="input" emailfield/> <br />
                <span ng-show="form.email.$error.emailfield && form.email.$dirty">
                        Invalid email<br />
                </span>
                <div id="gender">
                    <p>Gender:</p>
                    <input type="radio" ng-model="userData.gender" value="1" name="gender" /> Male
                    <input type="radio" ng-model="userData.gender" value="2" name="gender" /> Female
                    <input type="radio" ng-model="userData.gender" value="0" name="gender" /> Other
                </div>
                <div id="change-cover">
                    <div id="change-cover-left">
                        <button class="input-button">UPLOAD</button>
                        <div id="cover-specifications">
                            Limit: 128kb
                        </div>
                    </div>
                    <div id="change-cover-right">
                        <img ng-src="{{userData.coverImageData || 'images/no-cover.jpg'}}" width="360" height="90" />
                    </div>
                </div>
                <div class="clear"></div>
                <button id="save-changes-button" ng-click="saveChanges()" ng-disabled="!form.$valid" class="input-button">SAVE CHANGES</button>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </form>
    </div>
</div>