<header ng-include="'templates/partial/header.html'"></header>

<div class="wrapper" ng-controller="FeedController" id="{{wrapperStyle}}">

    <div id="cover">
        <div id="cover-image"><img ng-src="{{profileData.coverImageData || 'images/no-cover.jpg'}}" width="625" height="150" /></div>
        <div id="cover-avatar">
            <img ng-src="{{profileData.profileImageData || 'images/no-avatar.png'}}" width="80" height="80" /> <span>{{profileData.name}}</span>
            <span ng-if="!profileData.isFriend && profileOwner != me"><a href="javascript: void(0);" ng-click="addToFriendList(profileData.username)">Add to friend list</a></span>
            <span ng-if="profileData.isFriend"><a href="javascript: void(0);" id="friendsLabel">Friends</a></span>
        </div>
    </div>
    <div id="new-post" ng-if="profileData.isFriend || profileOwner == me">
        <div id="new-post-header">What´s new</div>
        <div id="new-post-form">
            <form>
                <textarea id="new-post-textarea" ng-model="postContent"></textarea>
                <input type="submit" ng-click="addPost(profileData.username)" value="Post" class="post-button" />
            </form>
        </div>
    </div>
    <div id="news-feed" scroll2 last-wallFeedId="{{lastFeedId}}">
        <div class="feed" ng-repeat="feed in feeds" id="feed{{feed.id}}">
            <div class="feed-header">
                <div class="feed-header-left">
                    <div class="feed-pic">
                        <a href="#/users/{{feed.author.username}}"><img ng-src="{{feed.author.profileImageData || 'images/no-avatar.png'}}" height="48px" /></a>
                    </div>
                </div>

                <div class="feed-header-right">

                    <div class="feed-name"><a href="#/users/{{feed.author.username}}">{{feed.author.name}}</a></div>
                    <div class="feed-date">{{feed.date | date : 'd.M.yyyy H:mm:ss'}}</div>
                </div>
            </div>
            <div class="feed-content">
                <p  style="display: block;" id="post{{feed.id}}">{{feed.postContent}}</p>
                <div style="display: none;" class="editPost" id="editPost{{feed.id}}">
                    <textarea  class="reply-input" id="textarea{{feed.id}}">{{feed.postContent}}</textarea>
                    <button class="reply-button" ng-click="editPost(feed.id)">Edit</button>
                </div>
                <div class="clear"></div>
                <div class="view-all-comments">
                    <a ng-if="feed.totalCommentsCount > 3" href="javascript: void(0);" ng-click="showAllComments(feed.id)">View all <span>{{feed.totalCommentsCount}} comments</span></a>
                    <div class="post-options">
                        <span ng-if="feed.author.username == feedOwner"><a href="javascript: void(0);" ng-click="showEditField(feed.id)">Edit •</a></span>
                        <span ng-if="feed.wallOwner.username == feedOwner || feed.author.username == feedOwner"><a href="javascript: void(0);" ng-click="deletePost(feed.id)">Delete •</a></span>
                        <span class="likesCount">{{feed.likesCount}}</span>
                        <a href="javascript: void(0);" ng-if="!feed.liked && (profileData.isFriend || feed.author.isFriend)" ng-click="likePost(feed.id)">Like</a>
                        <a href="javascript: void(0);" ng-if="feed.liked" ng-click="dislikePost(feed.id)">Dislike</a>
                        <span ng-if="!feed.author.isFriend && !profileData.isFriend ">Likes</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="comments" id="comments{{feed.id}}{{comment.id}}">
                    <div class="comment" ng-repeat="comment in feed.comments" id="comment{{feed.id}}{{comment.id}}">
                        <div style="display: none;" ng-if="feedOwner != comment.author.username" ng-mouseover="showCommentUserInfo(feed.id, comment.id, comment.author.username)"
                             ng-mouseleave="hideCommentUserInfo(feed.id, comment.id)" class="userInfoPopup" id="popupComment{{feed.id}}{{comment.id}}">
                            <a href="#/users/feed.author.username">
                                <img ng-src="{{comment.author.profileImageData || 'images/no-avatar.png'}}" width="35" height="35" />
                                {{comment.author.name}}
                            </a>
                            <div class="popupFriendStatus" id="popupFriendStatus{{feed.id}}{{comment.id}}"></div>
                        </div>
                        <div class="comment-pic" ng-mouseover="showCommentUserInfo(feed.id, comment.id, comment.author.username)"
                             ng-mouseleave="hideCommentUserInfo(feed.id, comment.id)">
                            <a href="#/users/{{comment.author.username}}"><img ng-src="{{comment.author.profileImageData || 'images/no-avatar.png'}}" height="35px" /></a>
                        </div>
                        <div class="comment-right">
                            <div class="comment-header">
                                <span class="comment-name"><a href="#/users/{{comment.author.username}}">{{comment.author.name}}</a></span>
                                <span class="comment-date">{{comment.date | date : 'd.M.yyyy H:mm:ss'}}</span>
                                <div class="comment-content" style="display: block;" id="commentContent{{comment.id}}">{{comment.commentContent}}</div>
                                <div style="display: none;" id="editComment{{comment.id}}" class="edit-comment">
                                    <textarea class="reply-input" id="editedComment{{comment.id}}">{{comment.commentContent}}</textarea>
                                    <button class="reply-button edit-button" ng-click="editComment(comment.id, feed.id)">Edit</button>
                                </div>
                            </div>
                        </div>
                        <span class="editComment">
                            <a href="javascript:  void(0);" ng-if="feedOwner == comment.author.username || feed.author.username == feedOwner" ng-click="deleteComment(comment.id, feed.id)">Delete •</a>
                            <a href="javascript: void(0);" ng-if="feedOwner == comment.author.username" ng-click="toggleEditComment(comment.id)">Edit •</a>
                            <span ng-if="!comment.liked">{{comment.likesCount}} <a href="javascript: void(0);" ng-click="likeComment(comment.id, feed.id)">Like</a></span>
                            <span ng-if="comment.liked">{{comment.likesCount}} <a href="javascript: void(0);" ng-click="dislikeComment(comment.id, feed.id)">Dislike</a></span>
                        </span>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="post-reply" ng-if="profileData.isFriend || feed.author.isFriend">
                    <form>
                        <input type="text" class="reply-input" ng-model="comment" placeholder="Comment" />
                        <input type="submit" value="Reply" ng-click="postComment(feed.id)" class="reply-button" />
                    </form>
                </div>
            </div>
        </div>
        <div id="loader" ng-if="feedNumber >= 5"><img src="images/loader.gif" width="40" height="40" /></div>
    </div>
    <div id="friends" ng-if="profileData.isFriend">
        <div id="friends-header">
            Friends - <a href="#/users/{{profileOwner}}/friends">{{friends.totalCount}}</a> total
        </div>
        <div class="friend-review" ng-repeat="friend in friends.friends">
            <a href="#/users/{{friend.username}}">
                <img ng-src="{{friend.profileImageData || 'images/no-avatar.png'}}" />
                {{friend.name}}
            </a>
        </div>
    </div>
    <div class="clear"></div>
</div>